:root {
  --primary-color: #c7ddf1;
  --secondary-color: #193f58;
  --accent1-color: #386ca0;
  --accent2-color: #9f8058;

  --heading-font: "Roboto", serif;
  --paragraph-font: "Roboto", serif;

  --nav-background-color: #c7ddf1;
  --nav-link-color: #386ca0;
  --nav-hover-link-color: #9f8058;
  --nav-hover-background-color: #c7ddf1;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--accent1-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
